/* ---------- Footer ---------- */
.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 150px;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.adress-ident {
  padding-bottom: 8px;
}

.footer-list {
  padding-top: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    padding-top: 20px;
    text-align: left;
  }
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-align: center;
}
.footer-logo:hover, .footer-logo:focus {
  color: var(--primary-title-color);
}
.footer-logo-text {
  color: #ffffff;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
.footer-logo:hover .footer-logo-text, .footer-logo:focus .footer-logo-text {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.adress:hover, .adress:focus {
  color: var(--accent-color);
}

.footer-contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (mxn-width: 480px) {
  .footer-contacts-wrap {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts-wrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}
.footer-contact-link:hover, .footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-contact-title {
  display: block;
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-contact-title {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact-title {
    text-align: left;
  }
}

.footer-social-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
@media (min-width: 480px) {
  .footer-social-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .footer-social-section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    width: calc(50% - 30px);
  }
}
@media (min-width: 1200px) {
  .footer-social-section {
    margin-right: 93px;
    width: auto;
  }
}

.subscribe-form {
  height: 100px;
}
.subscribe-form input::-webkit-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form input::-moz-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form input:-ms-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form input::-ms-input-placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    width: 570px;
  }
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .subscribe-title {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: left;
    padding-top: 10px;
  }
}

.subscribe-input {
  width: 450px;
  padding: 10px;
  margin-right: 25px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-transition: border-color 300ms linear;
  transition: border-color 300ms linear;
  color: #ffffff;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    margin-bottom: 0;
    width: 358px;
  }
}
.subscribe-input:hover, .subscribe-input:focus {
  border-color: var(--accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-btn {
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border-radius: 4px;
  width: 200px;
  color: #ffffff;
  display: block;
  position: relative;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 35px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    display: block;
    position: relative;
  }
}
.subscribe-btn:hover, .subscribe-btn:focus {
  fill: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.subscribe-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(30%, -50%);
          transform: translate(30%, -50%);
  border-bottom-left-radius: 4px;
}

.subscribe {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .subscribe-form-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.check-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=test.css.map */