
/*----- Мобильное меню ------*/

/* Кнопка меню */

.menu-buttom {
  width: 40px;
  height: 40px;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 7777;
  border: none;
  margin-left: auto;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  
  & .icon-cross {
  display: block;}
  &.is-open .icon-cross {
  display: none;
}
  & .icon-menu {
  display: none;
}
  &.is-open .icon-menu {
  display: block;
}
}

/*Мобильное меню */
.mob-menu{
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 777;
width: 100vw;
/*height: 100vh;*/
height: 796px;
padding: 48px 40px;
text-align: left;
background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
/*transform: translateY(100%);
transition: transform 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);*/

@media screen and (min-width: 767px) {
    display: none;
  }
&.is-open {
    display: none;
  }

&__navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


&__list{
  margin-bottom: 250px;
}
&__bottom{
  display: block;
}

&__contact{

}

&__item{
 margin-bottom: 32px;
  }

&__link{
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1,18x;
    letter-spacing: 0.02em;
    color: #212121;
}
&__link--carrent{
  color: var(--accent-color);
}


&__tel-link{
  display: block;
  margin-bottom: 32px;
 font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
} 
&__mail-link{
  display: block;
  margin-bottom: 64px;
  font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  text-decoration: none;
    color: #757575;

}
&__social{
display: flex;
}
&__social-link{
  margin-right: 20px;
  position: relative;
  font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    &:last-child{
    margin-right: 20px;
    }
}

/*  Разделитель*/ 

&__line::after {
    content: "|";
    position: absolute;
    width: 1px;
    color: rgba(33, 33, 33, 0.2);
    height: 22px;
    top: 0%;
    right: -10%;
  }
}

