


body {
  color: var(--header-text-color);
  background-color: var(--primery-background-color);
  font-family: Roboto, sans-serif;
  body.modal-open{
    overflow: hidden;
  }
}

.section-title {
  margin-top: 0px;
   font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
  
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
      line-height: 1.67;
    }
  
}

.main {
  padding-top: 80px;
}
.main-nav {
 /* display: flex;
  align-items: center;*/
  

}
.logo {
  display: block;
  /*  text-align: center;*/
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  text-decoration: none;
  @media screen and (max-width: 767px) {
padding-top: 16px;
padding-bottom: 16px;
padding-left: 15px;
  }


&_accent {
  color: var(--accent-color);
}

&_black {
  color: #000000;
}

&_white {
  color: #ffffff;
}
&__header{
text-align: left;
}
&__footer{
text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
}