
/* Цвета страницы */
/* Цвет основного текста #212121 -/* 
/* Второстепенный #757575 */
/* Белый #FFFFFF */
/* Черный #000000 */
/* Синий #2196F3 */
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --header-text-color: #212121;
  --paragraf-text-color: #757575;
  --accent-color: #2196f3;
  --primery-background-color: #ffffff;
  --n-row: 3;
  --card-margin: 30px;
}
 