/*
  | Benefits section
*/
.benefits{
    align-items: center;
    padding-bottom: 0px;
}
.section.benefits {
  padding-top: 94px;

}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*& .item:not(:last-child) {
  margin-right: 30px;}*/
  flex-wrap: wrap;
   @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      & .item:not(:last-child) {
          margin-right: 30px;
        }
    }
}

.benefits-list__title {
  margin-top: 0;
  max-width: 450px;
    text-align: center;
  margin-bottom: 0px;
  color: var(--header-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits-list__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
}
.icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  /*margin-bottom: 30px;*/
  border-radius: 4px;
  background-color: #f5f4fa;
}
.benefits-icon {

  fill: currentColor;
  
}
