/**

  | Hero section

*/
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(..//images/hero/hero-mobile.webp );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 118px;
  padding-top: 118px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mobile2x.webp);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(..//images/hero/hero-tablet.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet2x.webp);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-dt.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-dt2x.webp);
    }
  }
}



.hero-title {
  margin: 0 auto;
  max-width: 360px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}





.hiro-button {
  display: flex;
    align-items: center;
    text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  margin: 0 auto;
  border-radius: 4px;
  border: 0px solid;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}
}

